h1 Listing marks

table.table.table-condensed
  thead
    tr
      th.col-xs-1 Mark

  tbody
    - @marks.each do |mark|
      tr
        td = mark.value
        td = link_to 'Show', mark
        td = link_to 'Edit', edit_mark_path(mark)
        td = link_to 'Destroy', mark, data: {:confirm => 'Are you sure?'}, :method => :delete

br

= link_to 'New Mark', new_mark_path
