= form_for @user do |f|
  - if @user.errors.any?
    #error_explanation
      h2 = "#{pluralize(@user.errors.count, "error")} prohibited this user from being saved:"
      ul
        - @user.errors.full_messages.each do |message|
          li = message

  .row
    .col-sm-3
      table.table.table-condensed.actions
      tr
        td
          = "lock"
        td
          = f.check_box :locked, class: "form-control input-sm"
      - [:email, :password, :group].each do |name, value|
          tr
            td
              = name
            td
              = f.text_field name, class: "form-control input-sm"
      tr
        td
          = "confirmed_at"
        td
          = f.date_field :confirmed_at, class: "form-control input-sm"

  .row
    .col-sm-2
      .actions
        = f.submit 'Save', class: 'btn btn-sm btn-default'
