h1 Listing users

table.table.table-condensed
  thead
    tr
      th.col-xs-1 ID
      th.col-xs-1 Email
      th.col-xs-1 Groups
      th.col-xs-1 SI count
      th.col-xs-1 LSI at
      th.col-xs-1 LSI ip
      th.col-xs-1 Failed
      th.col-xs-1 UP at
      th.col-xs-1 CR at
      th.col-xs-1 Locked
      th.col-xs-2 colspan='4' Actions

  tbody
    - @users.each do |user|
      tr
        td = "##{user.id}"
        td = user.email
        td = user.group
        td = user.sign_in_count
        td = user.last_sign_in_at && time_ago_in_words(user.last_sign_in_at) || 'never'
        td = user.last_sign_in_ip
        td = user.failed_attempts
        td = time_ago_in_words(user.updated_at)
        td = time_ago_in_words(user.created_at)
        td = user.locked?
        td = link_to 'Show', user, \
          class: 'btn btn-default btn-sm userShowLink', \
          id: "userShowLink_#{user.id}"
        td = link_to 'Edit', edit_user_path(user), \
          class: 'btn btn-default btn-sm userEditLink', \
          id: "userEditLink_#{user.id}"
        td = link_to 'Destroy', user, data: {:confirm => 'Are you sure?'}, :method => :delete, \
          class: 'btn btn-default btn-sm userDestroyLink', \
          id: "userDestroyLink_#{user.id}"

br

= link_to 'New User', new_user_path, class: 'btn btn-sm btn-default'
