- if not defined? locals
  - locals = {}
== form_tag nil, {method: :get, remote: locals[:remote], class: 'form-inline'} do |f|
  == text_field_tag :noob_search, params[:noob_search], class: 'form-control input-sm'
  == submit_tag 'Search Noob', class: "btn btn-sm btn-success"
