- if not defined? locals
  - locals = {}
== form_for(@noob, {data: {type: :json}, remote: locals[:remote], role: 'form', html: {class: (locals[:inline] ? 'form-inline' : '')}}) do |f|
  - if @noob.errors.any?
    #error_explanation
      h2 = "#{pluralize(@noob.errors.count, "error")} prohibited this noob from being saved:"

      ul
        - @noob.errors.full_messages.each do |message|
        li = message
  - if locals[:inline]
    == f.submit (locals[:button_label] || "Create Noob"), class: "btn btn-sm btn-success noobCreateLink"
  - if locals[:name].nil? or locals[:name] == true
    == f.text_field :name, class: 'form-control input-sm', pattern: '[a-z\-_0-9]{2,10}', title: 'only a-Z,-,_,0-9, size 2..10', placeholder: "username"
  - if locals[:bad].nil? or locals[:bad] == true
    == f.text_field :bad, class: 'form-control input-sm', pattern: '[\-0-9]{0,10}', title: 'only \-0-9, size 0..10', placeholder: "bad"
  - if not locals[:inline]
    .actions = f.submit (locals[:button_label] || "Create Noob"), class: "btn btn-sm btn-success noobCreateLink"
