h1 Listing noobs

.container-fluid
  .row
    .pull-left
      - if current_user.admin?
        == render 'form', locals: {remote: true, inline: true, bad: false}
    .pull-right
      == render 'form_search'

== will_paginate @noobs

table.table.table-condensed
  thead
    tr
      th.col-xs-1 ID
      th.col-xs-2 Noobname
      th.col-xs-1 Bads
      - if params[:action] == 'follows'
        th.col-xs-1 = link_to 'All', noobs_path
      - else
        th.col-xs-1 = link_to 'Follows', noobs_path + '/follows'
      td.col-xs-2 colspan='3' Actions
      th.col-xs-6

  tbody#noob-list
    - @noobs.each do |noob|
      tr id="noobLine_#{noob.id}" class='noobLine'
        td id="noobId_#{noob.id}" class='noobId' = "##{noob.id}"
        td id="noobName_#{noob.id}" class='noobName' = noob.name
        td
          span id="noobBad_#{noob.id}" class='noobBad' = "#{noob.bad} "
          = link_to( \
          "<span class='glyphicon glyphicon-plus'></span>".html_safe, im_bad_noob_path(noob), \
          remote: true, 'data-type' => :json, method: 'POST', \
          class: 'noobImBad', id: "noobImBad_#{noob.id}")
        td = link_to( \
        *(@followed.include?(noob) ? ["<span class='glyphicon glyphicon-star'></span>".html_safe, unfollow_noob_path(noob) ] :\
        ["<span class='glyphicon glyphicon-star-empty'></span>".html_safe, follow_noob_path(noob) ] ), \
        remote: true, 'data-type' => :json, method: 'POST', \
        class: 'btn btn-default btn-sm noobFollowLink', id: "noobFollowLink_#{noob.id}")
        td = link_to 'Show', noob, \
        class: 'btn btn-default btn-sm noobShowLink', id: "noobShowLink_#{noob.id}"
        - if current_user.admin?
          td = link_to 'Edit', edit_noob_path(noob), \
          class: 'btn btn-default btn-sm noobEditLink', id: "noobEditLink_#{noob.id}"
          td = link_to 'Destroy', noob, \
          class: 'btn btn-default btn-sm noobDestroyLink', id: "noobDestroyLink_#{noob.id}", \
          remote: true, 'data-type' => :json, \
          data: {:confirm => 'Are you sure?'}, :method => :delete
        - else
          td
          td
        td
