h2 = @noob.name
h4#bad
  | bad :
  | #{@noob.bad} bad
  |  &&
  | (#{@noob.marks.count})

table.table.table-condensed
  tr
    th.col-xs-1 Note
    td.col-xs-3 Commentaire
  - @noob.marks.each do |mark|
    tr
      td = mark.value
      td = mark.note

== render 'marks/form'

== link_to 'Edit', edit_noob_path(@noob), class: 'btn btn-sm btn-default'
== link_to 'Back', noobs_path, class: 'btn btn-sm btn-default'
