nav class="navbar navbar-default" role="navigation"
  div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1"
    - if current_user
      ul class="nav navbar-nav navbar-left" id="user-infos"
        li = link_to 'Index', root_path, class: 'btn'
        li = link_to 'AdminU', users_path, class: 'btn' if current_user.admin?
        li = link_to 'Logout', destroy_user_session_path, method: 'delete', class: 'logout'
      ul class="nav navbar-nav navbar-right" id="user-infos"
        li#user-infos-user = "#{current_user.email.split('@').first.upcase}"
        li = " <"
        li#user-infos-group = "#{current_user.group.downcase}"
        li = ">"
